.container{
    box-shadow: 0 0 5px rgba(0,0,0.8);
    width: 500px;
    height: 200px;
    
}

.text1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: gray;
    margin-left: 20px;
    margin-top: 30px;
    padding-top: 20px;
}

.lower-section{
    display: flex;    
    margin-top: 40px;
}


.profile-picture{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

.text-section{
    margin-left: 20px;    
}

.text2-3-section{
    display: flex;
}

.text2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    
}


.text3{
    margin-left: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: gray;
}

.text4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.text5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: gray;
    margin-top: 10px;
}
